@use '../../abstracts/mixins' as v;
.side {
  h1 {
    padding: 4px;
    width: 100%;
    @include v.theme("background-color", v.$primary);
    @include v.theme("color", v.$lightText);
    text-align: center;
  }
}
