@use '../../abstracts/mixins' as v;

.linkflair-waitingonop .linkflairlabel {
  background-color: v.getColor("linkflair", "waitingonop");
}

.linkflair-abandoned .linkflairlabel {
  background-color: v.getColor("linkflair", "abandoned");
}

.linkflair-template .linkflairlabel {
  background-color: v.getColor("linkflair", "template");
}

.linkflair-discussioncase .linkflairlabel {
  background-color: v.getColor("linkflair", "discussioncase");
}

.linkflair-solvedcase .linkflairlabel {
  background-color: v.getColor("linkflair", "solvedcase");
}

.linkflair-pending .linkflairlabel {
  background-color: v.getColor("linkflair", "pending");
}

.linkflair-approved .linkflairlabel {
  background-color: v.getColor("linkflair", "approved");
}

.linkflair-showandtell .linkflairlabel {
  background-color: v.getColor("linkflair", "showandtell");
}

.linkflair-excelevent .linkflairlabel {
  background-color: v.getColor("linkflair", "excelevent");
}

.linkflair-paidservice .linkflairlabel {
  background-color: v.getColor("linkflair", "paidservice");
}

.linkflair-notsolvedcase .linkflairlabel {
  background-color: v.getColor("linkflair", "notsolvedcase");
}

.linkflair-unsolved .linkflairlabel {
  background-color: v.getColor("linkflair", "unsolved");
}

.linkflair-protip .linkflairlabel {
  background-color: v.getColor("linkflair", "protip");
}

.linkflair-challenge .linkflairlabel {
  background-color: v.getColor("linkflair", "solvedpoint");
}

.linkflair-solvedpoint .linkflairlabel {
  background-color: v.getColor("linkflair", "solvedpoint");
}

.linkflair-mod .linkflairlabel {
  background-color: v.getColor("linkflair", "mod");
}

.linkflair-removed-rule-1,
.linkflair-removed-rule-2,
.linkflair-removed-rules-1-2,
.linkflair-removed {
  .linkflairlabel {
    background-color: v.getColor("linkflair", "removed");
  }
}

// .linkflair-meta a.title {
//   font-weight: bold;
// }

// .linkflair-meta .rank,
// .linkflair-meta .score,
// .linkflair-meta .score-placeholder {
//   display: none !important;
// }

// .linkflair-meta .midcol {
//   width: 50px !important;
// }

// .linkflair-meta.compressed .midcol {
//   margin: 2px 3px 0;
// }

// .linkflair-meta .arrow {
//   display: inline-block !important;
//   margin: 0 3px;
//   padding: 0;
//   font-size: 16px;
// }
