@use '../../abstracts/mixins' as v;

.side .submit-text .morelink:after {
  position: absolute;
  left: -40px;
  top: 100%;
  width: 300px;
  @include v.theme("background-color", v.$highlight-background);
  @include v.theme("color", v.$bodyText);
  content: "Read the sidebar first. Your question may already be answered in the Wiki.";
  height: 50px;
  padding: 8px;
  font-size: 1.5em;
  transform: scaleY(0);
  transition: transform v.$transition ease;
  transform-origin: top;
}

.side .submit-text .morelink:hover:after {
  z-index: 1;
  transform: scaleY(1);
}
