@use '../../abstracts/mixins' as v;

// Bot User Flair

.flair-paperclip {
  border: none;
  &:after {
    display: inline-block;
    position: relative;
    border-radius: v.$radius;
    top: 5px;
    width: 18px;
    height: 18px;
    content: "";
    background: v.getImage("paperclip") center no-repeat;
    @include v.theme("background-color", v.$primary);
  }
}

.flair-msemployee {
  padding: 0 5px;
  display: inline-flex;
  align-items: center;
  height: 16px;
  &:before {
    display: inline-flex;
    position: relative;
    border-radius: v.$radius;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    content: "";
    background: v.getImage("msemployee") center no-repeat;
    background-size: contain;
  }
}
